@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
:root{
    --first-font: 'Lora', serif;
    --second-font: 'Rajdhani', sans-serif;
    --third-font: 'Amiri', serif;
    --primary-color: #151515;
    --secondary-color: #F4F9F9;
    --third-color: #316B83;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));
}
main{
    background-color: var(--primary-color);
    top: 0;
    width: 100vw;
}
.img img{
    height: 7vh;
    margin: 10px 0 0 5px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0 0;
}
.menu ul li, 
.menu ul li a{
    text-decoration: none;
    color: #FEFBF3;
    list-style: none;
    margin-left: 10px;
    font-family: var(--first-font);
    font-size: 20px;
    transition: 300ms ease;
}
.menu ul li:hover,
.menu ul li a:hover{
    font-size: 23px;
    text-decoration: underline;

}
.header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-container img{
    height: 45vh;
    transform: rotate(-37deg);
}
#products{
    padding-top: 75px;
    color: var(--secondary-color);
}
#products > h1{
    text-align: center;
}
.products{
    font-family: var(--second-font);
    text-decoration: underline;
    font-size: 45px;
}
#about{
    padding-top: 150px;
    color: var(--secondary-color);
}
.about{
    text-align: center;
    font-family: var(--second-font);
    text-decoration: underline;
    font-size: 45px;
}
.order{
    margin-top: 200px;
    font-family: var(--third-font);
}
#slogan{
    text-align: center;
    font-size: 50px;
    color: var(--secondary-color);
    font-family: 'Special Elite', cursive;
}
.energy-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 40px;
}
.energy{
    width: 40vw;
}
#products > p{
    text-align: center;
    font-size: 25px;
    font-family: var(--first-font);
    border: none;
    outline: none;
}
.form{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.form > input{
    width: 370px;
    background: var(--secondary-color);
    color: #525252;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 10px 10px;
}
.flex{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
.flex select{
    width: 150px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    height: 40px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.btn > button{
    width: 200px;
    height: 40px;
    background-color: var(--third-color);
    border: 0;
    outline: 0;
    border-radius: 12px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 300ms ease;
}
.btn > button:hover{
    transform: translateY(-4px);
    background-color: #3f8aaa;
}
.btn > button:active{
    transform: scale(0.9);
}
.form > input:focus{
    background-color: #e1e4e4;
}
.cards{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card{
    width: 400px;
    height: 600px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #082032;
    border-radius: 20px;
    border: 5px solid #051725;
    box-shadow: 10px 10px 20px black;
    transition: 0.25s ease;
}
.card > h3{
    font-family: var(--first-font);
    font-weight: bold;
}
.card:hover{
    transform: translateY(-10px);
}
.card > img{
    width: 300px;
    height: 350px;
    margin-top: 50px;
}
@media (max-width: 770px) {
    .menu ul li{
        font-size: 23px;
    }
    .header-container img{
        height: 30vh;
    }
    #slogan{
        font-size: 35px;
    }
    .form > input{
        width: 200px;
    }
    .card{
        width: 300px;
        height: 450px;
    }
    .card > img{
        width: 200px;
        height: 240px;
    }
    .card > p{
        font-size: 13px;
    }
}
@media (max-width: 500px) {
    .menu ul li{
        font-size: 13px;
    }
    #slogan{
        font-size: 25px;
    }
    .menu ul li, 
    .menu ul li a{
        font-size: 13px;
    }
    .menu ul li:hover, 
    .menu ul li a:hover{
        font-size: 15px;
    }
    .form{
        grid-template-columns: 1fr;
    }
    .form > input{
        width: 90vw;
    }
    .products{
        font-size: 35px;
    }
    .about{
        font-size: 35px;
    }
}
@media (max-width: 300px) {
    .header-container img{
        height: 20vh;
    }
    #products > p{
        font-size: 15px;
    }
}